<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="Contact information and personal website for Sharang Wakankar">
			<meta name="author" content="Sharang Wakankar">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" >
			<link rel="stylesheet" type="text/css" href="/css/design.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<div class="container">
				<div class="header">
					<ul class="nav nav-pills pull-right">
						<li><a href="/about">About</a></li>
		        		<li><a href="/cv">CV</a></li>
		        		<li><a href="/blog">Blog</a></li>
					</ul>
					<h3 class="text-muted"><a class= "headerlink" href="/">Sharang Wakankar</a></h3>
				</div>
				<hr>
			
			{{ content }}
		
			</div> <!-- end container!-->
			<div class="container">
				<footer>
					<br>
		    		<ul">
		        		<li><a class="link" href="mailto:sharangwakankar@utexas.edu">email</a></li>
		        		<li><a href="https://github.com/sharangw" class="fa fa-github"></a></li>
		        		<li><a href="https://www.linkedin.com/in/sharangwakankar/" class="fa fa-linkedin"></a></li>
						<li><a href="https://twitter.com/sharus10" class="fa fa-twitter"></a></li>
						<li><a href="https://medium.com/@sharus10" class="fa fa-medium"></a></li>
						<li><a href="https://www.youtube.com/user/swak0176" class="fa fa-youtube"></a></li>
					</ul>
				</footer>
			</div>
		</body>
	</html>
